@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

ul, nav, body, h1, h2, h4, h6, p, figure {
  margin: 0;
  padding: 0;
}

a, button { transition: all 0.3s ease; }



html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.tm-container-inner,
.tm-container-inner-2 {
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -35px;
  margin-right: -15px;
}

.col-lg-3,
.col-lg-4,
.col-lg-6,
.col-md-4,
.col-md-6,
.col-sm-6, 
.col-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/*
  primary: #2D99CC
  success: #319966
  danger: #993332
*/


body {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  background-color: #ccc;
  overflow-x: hidden;
}

.container {
  background-color: white;
}

p, address {
  color: #626364;
  line-height: 1.8;
}


/* Set width and height in JS */
.placeholder {
  width: 100%;
  min-height: 160px;
  background-color: #023e87;
}

.placeholder-2 {
  width: 100%;
  min-height: 220px;
  background-color: #CFBEA5;
  position: relative;
  z-index: 998;
}

.parallax-window {
  min-height: 260px;
  background: transparent;
  position: relative;
}

.parallax-window-2 {
  min-height: 220px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  position: relative;
}

.parallax-mirror {
  z-index: 999 !important;
}

.tm-header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 1000;
}

.tm-header-inner {
  padding: 40px 50px;
}

@media (max-width: 991px) {
  .tm-header-inner {
    padding: 30px 15px;
  }
}

.tm-site-logo {
  display: inline-block;
  margin-right: 5px;
}

.tm-site-text-box {
  display: inline-block;
}

.tm-site-title {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.tm-site-description {
  font-size: 1.1rem;
  font-weight: 400;
}

.tm-nav {
  text-align: right;
  margin-top: 30px;
}

.tm-nav-ul {
  display: flex;
  justify-content: flex-end;
}

.tm-nav-li {
  list-style: none;
  display: block;
  margin-bottom: 0;
  padding-right: 25px;
  padding-left: 25px;
}

@media (max-width: 991px) {
  .tm-nav-li {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.tm-nav-link {
  color: white;
  text-decoration: none;
  padding-bottom: 10px;
}

.tm-nav-link.active,
.tm-nav-link:hover {
  border-bottom: 1px solid white;
}

.tm-welcome-section {
  margin: 60px auto;
  max-width: 655px;
}

.tm-section-title {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.tm-gallery {
  margin-bottom: 80px;
}

.tm-gallery-page {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tm-gallery-description {
  font-size: 0.95rem;
}

.tm-section,
.tm-container-inner,
.tm-container-inner-2 {
  margin-left: auto;
  margin-right: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .tm-gallery-page {
    max-width: 560px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .tm-gallery-page,
  .tm-section,
  .tm-container-inner,
  .tm-container-inner-2 {
    max-width: 840px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .tm-gallery-page,
  .tm-section {
    max-width: 1120px;
  }
  
  .tm-container-inner {
    max-width: 1120px;
  }
  
  .tm-container-inner-2 {
    max-width: 900px;
  }
}

.tm-gallery-item {
  max-width: 280px;
}

.tm-gallery-img {
  margin-bottom: 20px;
}

.tm-gallery-title {
  font-size: 1.3rem;
  font-weight: 400;
  color: #1A6692;
  margin-bottom: 15px;
}

.tm-gallery-description {
  margin-bottom: 20px;
}

.tm-gallery-price {
  font-size: 1.25rem;
  color: #2F956D;
  margin-bottom: 60px;
}

.tm-paging-links {
  text-align: center;
  margin-bottom: 40px;
}

.tm-paging-item {
  list-style: none;
  display: inline-block;
  border: 1px solid #2F956D;
  margin: 7px;
}

.tm-paging-link {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #2F956D;
  background-color: transparent;
}

.tm-paging-link.active,
.tm-paging-link:hover {
  background-color: #2F956D;
  color: white;
}

.tm-description-figure {
  text-align: center;  
}

.tm-description-box {
  margin-left: auto;
  margin-right: auto;
}

.tm-description-box {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  max-width: 530px;
}

@media (min-width: 768px) {
  .tm-description-box {
    padding-left: 5px;
    padding-right: 40px;
    margin-top: 0;
  }
}

.tm-right {
  align-self: flex-end;
}

.tm-footer {
  padding: 25px 15px;
  margin-top: 40px;
}

.tm-footer a {
  color: #626364;
  text-decoration: none;
}

.tm-footer a:hover {
  color: #1A6692;
}

/* About */
.tm-persons {
  margin-bottom: 20px;
}

.tm-person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

@media (min-width: 420px) {
  .tm-person {
    flex-direction: row;
  }
}

.tm-person-description {
  padding-left: 20px;
  padding-right: 20px;
}

.tm-person-name {
  font-size: 1.6rem;
  font-weight: 300;
  color: #09C;
  margin-bottom: 5px;
  margin-top: 15px;
}

@media (min-width: 420px) {
  .tm-person-name {
    margin-top: 0;
  }
}

.tm-person-title {
  color: #C39;
  margin-bottom: 20px;
}

.tm-person-about {
  margin-bottom: 20px;
}



.tm-history-title {
  font-size: 1.6rem;
  font-weight: 300;
  color: #1A6692;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
 .tm-history-text {
    max-width: auto;
    margin: 0 auto 0 35px;
  } 
}

/* Contact Page */
.tm-contact-form {
  max-width: 100%;
}

@media (min-width: 768px) {
 .tm-contact-form {
    max-width: 310px;
  } 
}

.tm-d-flex {
  display: flex;
  flex-direction: column;
}


.form-group {
  margin-bottom: 30px;
}

.tm-info-title {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 30px;
}

address {
  font-style: normal;
     font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: large;
  margin-bottom: 50px;
}

.tm-address-box {
  max-width: 100%;
}

@media (min-width: 768px) {
 .tm-address-box {
    max-width: 315px;
  } 
}

.text-center {
  text-align: center;
}

.tm-info-section {
  padding-top: 30px;
}


/* Style the accordion panel. Note: hidden by default */
.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
  padding: 5px 20px 30px;
}


/*Contact Us Page */

.contact-grid {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.contact {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #e7e7e7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;  
  width:200px;
  height:300px;
}

.contact:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  border: 2px solid #42b7ca;
}

.contact > * {
  flex: 1 1 100%;
}



.contact h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #56ceba;
  font-size: 1.3rem;
  margin: 1rem 0 0.6rem;
}


@media all and (max-width:900px) {
  .contact-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}

p.home
{
  font-family: 'Merriweather', serif;
}